@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
}
#wrap {
	width: 1024px;
	margin: 0 auto;
}
.page_header {
	position: relative;
	width: 1024px;
	height: 98px;
	border-bottom: 3px solid #02A379;
}
#log {
	position: absolute;
	left: 59px;
	top: 0;
	width: 98px;
	height: 95px;
	background-image: url(images/ebook_02.jpg);
	background-repeat: no-repeat;
}
#menu1 {
	position: absolute;
	left: 228px;
	top: 55px;
	width: 508px;
	height: 40px;
}
#menu1 img {
	float: left;
}
#menu2 {
	position: absolute;
	left: 819px;
	top: 0;
	width: 161px;
	height: 34px;
}
#menu2 img {
	display: block;
}
#page_center {
	width: 1024px;
	height: 423px;
}
#page_center img {
	display: block;
}
#bannerset {
	width: 1024px;
	margin: 0 auto;
}
.banner1, .banner2, .banner3 {
	float: left;
	height: 107px;
	background-repeat: no-repeat;
}
.banner1 {
	width: 228px;
	background-image: url(images/ebook_15.jpg);
}
.banner2 {
	width: 220px;
	background-image: url(images/ebook_16.jpg);
}
.banner3 {
	width: 576px;
	background-image: url(images/ebook_17.png);
}
#footer {
	clear: both;
	width: 1024px;
	height: 137px;
	background-image: url(images/ebook_18.png);
	background-repeat: no-repeat;
}
